<!--File Name: index.ejs-->
<!--Student's Name: Bhavya Bhuvanendra Kumar Sreelatha-->
<!--Student ID: 301118501-->
<!--Date: 13/02/2021-->

<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

  <!--Main Content-->
  <main Class="container">
    <div class="jumbotron">
      <h1 class="display-4" style="color:Teal"><img src="/Assets/images/Bhavyaimage1.jpg" width="150" alt=""><b> About Me</b> </h1>
      <p></p>
      <p  style="color:Teal;"><b>Bhavya Bhuvanendra Kumar Sreelatha</b></p>
    </div>
    <div class="jumbotron">
      <p>I am Bhavya Bhuvanendra Kumar Sreelatha and, I am from Kerala, which is also known as God's own country, in India. 
      I am a B.Tech graduate in Electronics and Communication Engineering and, prior to joining Centennial, I was working as a Quality Assurance Engineer. 
      <p>I am currently enrolled in the Software Engineering Technology Fastrack program at Centennial College. 
      The reason to attend Centennial College is to attain a higher educational qualification in the field in which I am interested. </p>
      <p>My hobbies are reading books, watching TV shows, experimenting with cooking, etc.</p>
      <p>I am interested in the field of Science and Technology since my childhood. 
      This interest later developed into the fields of software when I started my career as a Quality Assurance Engineer. </p>
      <p>In the future, I see myself learning new technology skills by making myself strong through this course and, I will be continuing to work as a QA.</p>
      
      </p>
      <p><a href="/Assets/pdf/Resume_BHAVYA BHUVANENDRA KUMAR SREELATHA.pdf" download>Click here to download Resume</a></p>

      <center><a href="/home" right>Previous </a></p><p><a href="/projects">Next</a></p></center>
    </div>
  </main>
  <%-include partials/footer_nav.ejs%>

  <%-include partials/footer.ejs%>