<!--File Name: index.ejs-->
<!--Student's Name: Bhavya Bhuvanendra Kumar Sreelatha-->
<!--Student ID: 301118501-->
<!--Date: 13/02/2021-->

<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

  <!--Main Content-->
  <main Class="container">
    <div class="jumbotron">
      <h2 class="display-4" style="color:Teal;"><b> My Contact Details </b></h2>
      <p>
      <ul>
        <li>First Name: Bhavya </li>
        <li>Last Name: Bhuvanendra Kumar Sreelatha </li>
        <li>Contact Number: (+91) 9632675626</li>
        <li>Email Address: bsreelat@my.centennialcollege.ca</li>
      </ul>  
      </p>
      <center>
      
      <h3>Contact Me</h3>

      <form action="/home">
        <label for="fname">First Name</label><br>
        <input type="text" id="fname" name="fname" value=""><br>
        <label for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="lname" value=""><br>
        <label for="lname">e-mail ID:</label><br>
        <input type="text" id="email" name="email" value=""><br>
        <label for="lname">Contact Number</label><br>
        <input type="text" id="number" name="number" value=""><br>
        <label for="lname">Message</label><br>
        <input type="text" id="message" name="message" value=""><br><br>
        <input type="submit" value="Submit">
      </form> 
    </center>
    <p></p>
      <center><a href="/services" right>Previous </a></p></center>
    </div>
  </main>

<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>