<!--File Name: index.ejs-->
<!--Student's Name: Bhavya Bhuvanendra Kumar Sreelatha-->
<!--Student ID: 301118501-->
<!--Date: 13/02/2021-->

<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

<!--Main Content-->
  <body>
  <main Class="container">
    <div class="jumbotron">
      <h2 class="display-10" style="color:Teal"> Hola, I'm Bhavya </a></h2>
    </div>

  <main Class="container">
    <div class="jumbotron">
      <h2 class="display-10"><a href = "http://localhost:3000/aboutme"> Who am I? </a></h2>
    </div>

    <div class="jumbotron">
      <h2 class="display-10"><a href = "http://localhost:3000/projects"> Projects I have worked </a></h2>
    </div>

    <div class="jumbotron">
      <h2 class="display-10"> <a href = "http://localhost:3000/services"> Services</a> </h2>
    </div>

    <div class="jumbotron">
      <h2 class="display-10"><a href = "http://localhost:3000/contact"> Contact Me</a> </h2>
    </div>
  </main>
<body>
  
  <%-include partials/footer_nav.ejs%>

  <%-include partials/footer.ejs%>


