<!--File Name: index.ejs-->
<!--Student's Name: Bhavya Bhuvanendra Kumar Sreelatha-->
<!--Student ID: 301118501-->
<!--Date: 13/02/2021-->

<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

  <!--Main Content-->
  <main Class="container">
    <div class="jumbotron">
      <h1 class="display-4" style="color:Teal"><b> Projects</b></h1>
    </div>

<div class="jumbotron">
<center><h3> Project 1: <u><b>Heart Attack Detection and Real Time Health Monitoring </b></u></h3></center>
        <center><p><img src="/Assets/images/Heart Attack Detection.jpg" width="300" alt=""></p></center>
        <p> Cardiovascular disease (CVD) is the single leading cause of death in both developed and
developing countries. Through this project we aim to provide early detection of heart attack. This
project also aims to reduce the intervention time of ambulance in case of emergencies. </p>
<p> A heart attack happens to a person when the blood flow and oxygen supply to heart
muscle is blocked, and it is mostly caused by the Coronary Artery Disease (CAD). CAD occurs
when the arteries that supply blood to the heart muscle (coronary arteries) become hardened and
narrowed. It often causes irregular heart beat or rhythm by blocking blood stream. The symptoms
of heart attack can be detected by observing electrocardiogram (ECG) waveform. An ECG is an
electrical recording of the heart and is used in the investigation of heart disease. An electrical
impulse initiates muscle contraction, which results in heart beating. The spacing between pulses
provides a measure of the heart‟s rhythm, whereas the height of the pulses is an indicator of
pumping strength. By observing the ECG waveform, the heart condition of the patients can be
explained by doctors. Here the ECG signal of the patient will be wirelessly transmitted and on
the doctor‟s laptop we will be real time displaying the ECG signal using matlab coding. And in
case of any abnormalities an alert message is made to the ambulance via the GSM module along
with which the GPS values are also sent indicating the position of the patient. </p>
<p>This was my final year graduate project where I aimed to implement a portable ECG monitoring device thereby providing real time
health monitoring of the patients. And in case of any abnormalities in the ECG waveform, alert
will be made to the ambulance which will considerably reduce the intervention time of medical
help. This project also aims to reduce the number of electrodes that need to be physically
attached to the patient and thus allows for greater patient mobility.
        </p>
        </div>

<div class="jumbotron">
        <center><h3> Project 2:<u><b> Pandemic Waste E-management </b></u></h3></center>
        <center><p><img src="/Assets/images/Pandemic Waste E Management.png" width="300" alt=""></p></center>
        <p>As the world is going through this pandemic situation, non-biodegradable waste has multiplied. 
            So, it is high time to save our Earth and protect our environment from the piling up of disposals. This project consists of a kiosk for depositing the biodegradable waste such as cloth mask, and non bio-degradable waste such as PPE kits, plastic shields, other masks.
            We have a mobile application where users can register and while puting the waste in kiosks they will get some points. By using these points, they can purchase other things such as masks, PPE kits etc. from the app itself with additional discounts.
            The waste is collected by industrial people and recycled and the user for making other things such as engineered woods, shoes.</p>
             <p>This was the project I have worked on in my first semester in Centennial College as part of my Object Oriented Programming course.         
        </p>
    </div>

    <div class="jumbotron">
        <center><h3>Project 3: <u><b> Deforestation detection using GIS</b></u></h3></center>
        <center><p><img src="/Assets/images/Deforestation.jpg" width="400" alt=""></p></center>
        <p> Deforestation detection using GIS (Geographic informatoin system). </p>
        <p>The project aims in collecting geo-spacial images through amazon s3 and processing it using an index called NDVI (Natural Dense Vegetation Index). 
        In this project, I have worked on collecting the images and storing the path of corresponding images to a DB using Oracle. 
        </p>  
    </div>

        <!--Links to previous and next pages-->
        <center><a href="/about" right>Previous </a></p><p><a href="/services">Next</a></p></center>
    </div>
  </main>

<%-include partials/header.ejs%>

<%-include partials/main_nav.ejs%>
