<!--File Name: index.ejs-->
<!--Student's Name: Bhavya Bhuvanendra Kumar Sreelatha-->
<!--Student ID: 301118501-->
<!--Date: 13/02/2021-->

<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

  <!--Main Content-->
  <main Class="container">
    <div class="jumbotron">
      <h1 class="display-4" style="color:Teal"><b>Services</b></h1>
    </div>

    <div class="jumbotron">
      <!--includes images with services-->
        <ul>
            <p><img src="/Assets/images/WAD.png" width="200" alt=""><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Web Application Development</b></p>
            <p></p>
            <p><img src="/Assets/images/Java.jpg" width="200" alt=""><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Java Programming </b></p>
            <p></p>
            <p><img src="/Assets/images/CSharp.png" width="200" alt=""><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; C# Programming </b></p>
            <p></p>
            <p><img src="/Assets/images/QA.jpeg" width="200" alt=""><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Quality Assurance </b></p>
            <p></p>
            <p><img src="/Assets/images/MAD.png" width="200" alt=""><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mobile Application Development </b></p>
            <p></p>
          </ul> 

          <!--Links to previous and next pages-->
          <center><a href="/projects" right>Previous </a></p><p><a href="/contact">Next</a></p></center>
    </div>
  </main>

<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
